h1{
    color: chartreuse;
    background-color: antiquewhite;
    margin: 20px;
    text-align: center;

}
p{
    color: darkorange;
    background-color: aliceblue;
    margin-top: 10px;
    border: 20em;
}
img{
    margin: 10px;
}